@charset "UTF-8";
/* Colors */
/* Text configuration */
/*24px*/
/*18px*/
/*16px*/
/*15px*/
body {
  min-width: 340px;
  background-color: white;
  font-family: "Roboto";
  overflow: hidden;
}
@media only screen and (min-width: 1100px) {
  body {
    margin: 0;
  }
}

h2 {
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 21px;
  margin: 0;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Couleur de fond du loader */
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: none; /* Masquer le contenu principal initialement */
}

#loader.hidden {
  display: none; /* Masquer le loader après la fin de l'animation */
}

/**** Header ****/
header {
  padding-top: 14px;
}

nav {
  padding-top: 12px;
  padding-bottom: 13px;
}
nav div {
  text-align: center;
}
nav .logo {
  height: 36px;
  padding-top: 2px;
}
nav a {
  position: absolute;
  padding-top: 7px;
  padding-left: 23px;
}

/**** Hero Header image ****/
.restaurant-image {
  width: 100%;
}
.restaurant-image img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1100px) {
  .restaurant-image img {
    height: 383px;
  }
}

/**** Restaurant menu ****/
.restaurant-menu {
  background-color: #F6F6F6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: -36px;
}
@media only screen and (min-width: 1100px) {
  .restaurant-menu {
    margin-left: 193px;
    margin-right: 193px;
    padding-left: 210px;
    padding-right: 210px;
  }
}
.restaurant-menu .button {
  display: flex;
  justify-content: center;
}
.restaurant-menu button {
  border: none;
  padding: 16px 48px 15px 49px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 1px 2px 7px rgba(133, 132, 132, 0.87);
  margin-top: 13px;
  margin-bottom: 40px;
}
.restaurant-menu button:hover {
  background: linear-gradient(to top, #a16be0, #ff93e1);
  box-shadow: 1px 2px 7px rgba(56, 56, 56, 0.87);
}

h1 {
  font-size: 28px;
  font-family: "Shrikhand";
  font-weight: 400;
}

.menu_title {
  display: flex;
  justify-content: space-between;
  padding-left: 17px;
  padding-right: 41px;
  align-items: center;
}
@media only screen and (min-width: 1100px) {
  .menu_title {
    justify-content: center;
    gap: 24px;
    padding-top: 37px;
  }
}
.menu_title .heart-svg {
  transition: fill-opacity 400ms ease-in-out, stroke-opacity 400ms ease-in;
  fill: url(#gradient);
  fill-opacity: 0;
  stroke-opacity: 1;
}
.menu_title .heart-svg:hover {
  fill-opacity: 1;
  stroke-opacity: 0;
}

@keyframes slide-in {
  from {
    padding-left: 100%;
    width: 200%;
  }
  to {
    padding-right: 13px;
  }
}
.slide-delay-1 {
  animation: slide-in 0.75s cubic-bezier(0.45, 0.05, 0.55, 0.95) 100ms;
}

.slide-delay-2 {
  animation: slide-in 2s ease-in-out 650ms;
}

.slide-delay-3 {
  animation: slide-in 1.2s ease-in 350ms;
}

.menu {
  padding: 13px;
  margin-bottom: 14px;
}
.menu > p {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 9px;
  text-transform: uppercase;
  animation: slide-in 2.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.menu hr {
  border: 2px solid #99E2D0;
  width: 40px;
  position: relative;
  margin: 0;
  animation: slide-in 3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu_items {
  background-color: white;
  border-radius: 15px;
  height: 100%;
  padding-left: 15px;
  padding-right: 47px;
  position: relative;
  box-shadow: 1px 2px 7px rgba(133, 132, 132, 0.87);
  margin-top: 12px;
  overflow: hidden;
}
.menu_items .title {
  font-size: 1.13rem;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 5px;
  margin: 0;
}
.menu_items .subtitle {
  font-size: 0.94rem;
  font-weight: 300;
  padding-bottom: 12px;
  margin: 0;
}
.menu_items .price {
  font-size: 0.94rem;
  font-weight: 700;
  position: absolute;
  right: 13.5px;
  bottom: -13.5px;
  padding-bottom: 12px;
}
.menu_items .add {
  background-color: #99E2D0;
  height: 100%;
  width: 59px;
  position: absolute;
  right: -59px;
  top: 0px;
}
.menu_items .add__circle {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 19.42px;
  top: 35%;
}
.menu_items:active .price, .menu_items:active .add {
  transform: translateX(-59px);
  transition: transform 500ms ease-in-out;
}
.menu_items:active .title, .menu_items:active .subtitle {
  transition: padding-right 500ms ease-in-out;
  padding-right: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}/*# sourceMappingURL=Menu.css.map */