@import "../main.scss";
@import "../modules/responsive.scss";

/**** Header ****/
header {
    padding-top: $padding;
    // background-color: azure;
}

nav {
    padding-top: $padding - 2;
    padding-bottom: $padding - 1;
    // background-color: aquamarine;

    & div {
        text-align: center;
        // background-color: bisque;
    }

    & .logo {
        height: 36px;
        padding-top: 2px;
    }

    & a {
        position: absolute;
        padding-top: 7px;
        padding-left: 17px + 6px;
    }
}

/**** Hero Header image ****/



/**** La palette du goût ****/