@import "./responsive.scss";
@import "../main.scss";

header {
    padding-top: $padding;
}

.first-nav {
    padding-bottom: $padding;

    & img {
        height: 36px;
        display: block;
        margin: 0px auto;
        padding-top: $padding;
    }

}

.second-nav {
    background: linear-gradient(to top, rgba(214, 214, 214, 0.158), rgba(163, 160, 160, 0.322));
    display: flex;
    flex-direction: row;
    gap: $padding + 3px;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 5px rgba(139, 139, 139, 0.877);

    & img {
        height: 1rem;
    }

    & p {
        font-family: $body-font;
        font-size: $button-font-size;
        font-weight: $medium-font-weight;
    }
}
