@import "./responsive.scss";
@import "../main.scss";

header {
    padding-top: $padding;
}

.first-nav {
    padding-bottom: $padding;

    & img {
        height: 36px;
        display: block;
        margin: 0px auto;
        padding-top: $padding;
    }

}

.second-nav {
    background: linear-gradient(to top, rgba(240, 238, 238, 0.6), rgb(234, 234, 234));
    display: flex;
    flex-direction: row;
    gap: $padding + 3px;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 10px rgba(143, 142, 142, 0.653);
    /* background: #EAEAEA; */
    position: relative;
    z-index: 1;

    @media #{$large-up} {
        background: #EAEAEA;
        box-shadow: none;
    }

    & img {
        height: 1rem;
    }

    & p {
        font-family: $body-font;
        font-size: $button-font-size;
        font-weight: $medium-font-weight;
    }
}
