@import "../main.scss";
@import "responsive.scss";

        /*** réservez le menu qui vous convient ***/
.reserve-menu {
    text-align: center;
    background-color: $background;
}

.reserve-menu div{
    font-family: $body-font;
    padding-bottom: 90px;
    padding-top: 39.5px;

    & p {
        font-size: $body-font-size;
        font-weight: $light-font-weight;
        margin-right: 26px;
        margin-left: 34px;
        margin-top: 0px;
        margin-bottom: 27px;
    }

    & h1 {
        font-size: $title-section-font-size;
        font-weight: $bold-font-weight;
        margin-left: 42px;
        margin-right: 58px;
        
        margin-bottom: 5px;
        padding-bottom: $padding;
    }

    & a {
        color: $color-white;
        font-size: $button-font-size;
        font-weight: $medium-font-weight;
        padding: 13px 18px 13px 18.75px;
        border-radius: 30px;
        background: linear-gradient(to top, $primary, $secondary);
        text-decoration: none;
        @include shadow-box;
        height: 50px;
        width: 218px;
    }

}

        /*** Fonctionnement ***/
.functioning > div {
    padding-top: 26px;
    padding-bottom: 101px;
}

.functioning h2 {
    padding-top: 15px;
}

.functioning_elements, .functioning_items, .functioning_number{
    display: flex;
    align-items: baseline;
}

.functioning_elements {
    position: relative;
    padding-bottom: 25px;

}

.functioning_number {
    width: 24px;
    height: 24px;
    background-color: $primary;
    color: $color-white;
    align-items: center;
    justify-content: center;
    border-radius: 90%;
    // position: relative;
    z-index: 2;
    margin-left: 20px;

    & p {
        font-size: 14.18px;
        padding-top: 3px;
    }
}

.functioning_items {
    gap: 27px;
    background-color: $background;
    border-radius: 15px;
    padding-left: 34px;
    padding-right: 38px;
    width: 70%;
    z-index: 1;
    margin-right: 20px;
    margin-left: -12.51px;
    @include shadow-box;
    height: 72px;

    & p {
        font-weight: $medium-font-weight;
        font-size: $button-font-size;
        padding-top: 10px;
    }

    & img {
        width: 18px;
        height: 18px;
    }
    
}


