

        /*** réservez le menu qui vous convient ***/
.reserve-menu {
    text-align: center;
    background-color: $background;
    // background-color: aquamarine;
    padding-top: 1px;  // pourquoi lorsque je mets 30px j'ai plus et 1px correspond à-peu-près à 30
    padding-bottom: 90px;
    
    @media #{$large-up} {
        // background: red;
        padding-bottom: 33px;
    }
}

.reserve-menu div{
    font-family: $body-font;
    // background-color: red;

    & p {
        font-size: $body-font-size;
        font-weight: $light-font-weight;
        margin-right: 26px;
        margin-left: 34px;
        margin-top: 0px;
        margin-bottom: 27px;
        // background-color: #008766;

        @media #{$large-up} {
            // background: red;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0px;
            height: 46px;
            // background-color: yellow;
        }
    }

    & h1 {
        font-size: $title-section-font-size;
        font-weight: $bold-font-weight;
        margin-left: 42px;
        margin-right: 58px;
        margin-bottom: 0px;
        // background-color: #008766;
        height: 68px;

        @media #{$large-up} {
            // background: red;
            font-size: 40px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 18px;
            height: auto;
        }
    }

    & a {
        display: inline-block;
        padding: 13px 18px 13px 18.75px;
        text-decoration: none;
        @include button-items;
        @include shadow-box;
        font-size: $button-font-size;
        font-weight: $medium-font-weight;
        
    }

    & a:hover {
            background: linear-gradient(to top, lighten($primary, 5%), lighten($secondary, 5%));
            box-shadow: 1px 2px 7px darken(rgba(133, 132, 132, 0.87), 30%);
        }

}

        /*** Fonctionnement ***/
.functioning > div {
    padding-top: 26px;
    padding-bottom: 101px - 25px;
    // background-color: #008766;

    @media #{$large-up} {
        // background: red;
        padding: 0px 180px 50px 180px;
        display: flex;
        flex-direction: row;
    }
}

.functioning h2 {
    padding-top: 15px;

    @media #{$large-up} {
        // background: red;
        padding: 50px 180px 25px 180px;
    }
}

.functioning_elements, .functioning_items, .functioning_number{
    display: flex;
    align-items: first baseline;
}

.functioning_elements {
    position: relative;
    padding-bottom: 25px;
    // background-color: aquamarine;
    @media #{$large-up} {
        // background: red;
        padding: 0;
    }
}

.functioning_number {
    width: 24px;
    height: 24px;
    background-color: $primary;
    color: $color-white;
    align-items: center;
    justify-content: center;
    border-radius: 90%;
    // position: relative;
    z-index: 2;
    margin-left: 20px;

    @media #{$large-up} {
        // background: red;
        margin-left: 0;
    }

    & p {
        font-size: 14.18px;
        padding-top: 3px;
    }
}

.functioning_items {
    gap: 27px;
    background-color: $background;
    border-radius: 20px;
    padding-left: 34px;
    padding-right: 38px;
    width: 70%;
    z-index: 1;
    margin-right: 20px;
    margin-left: -12.51px;
    @include shadow-box;
    height: 72.38px;

    @media #{$large-up} {
        // background: red;
        margin-right: 36.5px;
    }

    & p {
        font-weight: $medium-font-weight;
        font-size: $button-font-size;
        padding-top: 10px;
    }

    & img {
        width: 18px;
        height: 18px;
    }
    
}

        /*** Restaurants ***/
.restaurants--background {
    background-color: $background;
    padding-bottom: 66px;

    & h2 {
        padding-bottom: 22px;
    }

    @media #{$large-up} {
        // background: red;
        padding-bottom: 30px;
        padding-right: 180px;
        padding-left: 180px;
        padding-top: 30px;

        & h2 {
            padding-left: 0;
            padding-bottom: 28px;
        }
    }
}

.restaurants, .restaurants_semi{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.restaurants {
    @media #{$large-up} {
        // background: red;
        gap: 50px;
    }
}

.restaurants_semi {

    @media #{$large-up} {
        // background: red;
        flex-direction: row;
        gap: 100px;
    }
}

.restaurant {
    height: 251px;
    width: 90%;
    // padding-left: 17px;
    // padding-right: 18px;
    border-radius: 15px;
    background-color: $color-white;
    margin: auto;
    // z-index: 2;
    position: relative;
    overflow: hidden;

    & a {
        color: black;
    }

    @media #{$large-up} {
        // background: red;
        width: 100%;
    }
}

.restaurant_items {

    & img {
        width: 100%;
        height: 231px; /*231 taille de base*/
        top: -57px;
        // left: -3px;
        position: absolute;
        // z-index: 1;
        object-fit: cover;
    }

    & p {
        background-color: $tertiary;
        color: #008766;
        font-size: 14px;
        font-weight: $medium-font-weight;
        padding: 7px 9.63px 6px 9px;
        border-radius: 3px;
        width: 17%;
        text-align: center;
        position: absolute;
        right: 15px;
        top: 5px;
        // z-index: 3;
    }
}

.restaurant_elements {

    & .heart-svg {
        position: absolute;
        top: 197px;
        right: 25px;
        transition: fill-opacity 400ms ease-in-out, stroke-opacity 400ms ease-in ;
        fill: url(#gradient);
        fill-opacity: 0;
        stroke-opacity: 1;

        &:hover {
            fill-opacity: 1;
            stroke-opacity: 0;
        }

    }

    & .title {
        font-weight: $bold-font-weight;
        font-size: $body-font-size;
        margin-top: 16px;
        margin-bottom: 6px;
        // background-color: #008766;
    }

    & .subtitle {
        font-weight: $light-font-weight;
        font-size: 17px;
        margin: 0;
        // background-color: #205749;
    }

    & .position {
        position: absolute;
        bottom: 12px;
        left: 13px;
    }
}

